<div class="committee">
  <h4 {{action 'showDetails'}}>{{committee.name}}</h4>
</div>
{{#if showingDetails}}
  <p class="subcommitteeTitle">Subcommittees:</p>
  {{#each committees as |subcommittee|}}
    {{#if (isSubcommittee subcommittee committee)}}
      {{subcommittee.name}}
    {{/if}}
  {{/each}}
{{/if}}
