{{#x-select value=state class="form-control"}}
  {{#x-option value="AL"}}Alabama{{/x-option}}
	{{#x-option value="AK"}}Alaska{{/x-option}}
	{{#x-option value="AZ"}}Arizona{{/x-option}}
	{{#x-option value="AR"}}Arkansas{{/x-option}}
	{{#x-option value="CA"}}California{{/x-option}}
	{{#x-option value="CO"}}Colorado{{/x-option}}
	{{#x-option value="CT"}}Connecticut{{/x-option}}
	{{#x-option value="DE"}}Delaware{{/x-option}}
	{{#x-option value="DC"}}District Of Columbia{{/x-option}}
	{{#x-option value="FL"}}Florida{{/x-option}}
	{{#x-option value="GA"}}Georgia{{/x-option}}
	{{#x-option value="HI"}}Hawaii{{/x-option}}
	{{#x-option value="ID"}}Idaho{{/x-option}}
	{{#x-option value="IL"}}Illinois{{/x-option}}
	{{#x-option value="IN"}}Indiana{{/x-option}}
	{{#x-option value="IA"}}Iowa{{/x-option}}
	{{#x-option value="KS"}}Kansas{{/x-option}}
	{{#x-option value="KY"}}Kentucky{{/x-option}}
	{{#x-option value="LA"}}Louisiana{{/x-option}}
	{{#x-option value="ME"}}Maine{{/x-option}}
	{{#x-option value="MD"}}Maryland{{/x-option}}
	{{#x-option value="MA"}}Massachusetts{{/x-option}}
	{{#x-option value="MI"}}Michigan{{/x-option}}
	{{#x-option value="MN"}}Minnesota{{/x-option}}
	{{#x-option value="MS"}}Mississippi{{/x-option}}
	{{#x-option value="MO"}}Missouri{{/x-option}}
	{{#x-option value="MT"}}Montana{{/x-option}}
	{{#x-option value="NE"}}Nebraska{{/x-option}}
	{{#x-option value="NV"}}Nevada{{/x-option}}
	{{#x-option value="NH"}}New Hampshire{{/x-option}}
	{{#x-option value="NJ"}}New Jersey{{/x-option}}
	{{#x-option value="NM"}}New Mexico{{/x-option}}
	{{#x-option value="NY"}}New York{{/x-option}}
	{{#x-option value="NC"}}North Carolina{{/x-option}}
	{{#x-option value="ND"}}North Dakota{{/x-option}}
	{{#x-option value="OH"}}Ohio{{/x-option}}
	{{#x-option value="OK"}}Oklahoma{{/x-option}}
	{{#x-option value="OR"}}Oregon{{/x-option}}
	{{#x-option value="PA"}}Pennsylvania{{/x-option}}
	{{#x-option value="RI"}}Rhode Island{{/x-option}}
	{{#x-option value="SC"}}South Carolina{{/x-option}}
	{{#x-option value="SD"}}South Dakota{{/x-option}}
	{{#x-option value="TN"}}Tennessee{{/x-option}}
	{{#x-option value="TX"}}Texas{{/x-option}}
	{{#x-option value="UT"}}Utah{{/x-option}}
	{{#x-option value="VT"}}Vermont{{/x-option}}
	{{#x-option value="VA"}}Virginia{{/x-option}}
	{{#x-option value="WA"}}Washington{{/x-option}}
	{{#x-option value="WV"}}West Virginia{{/x-option}}
	{{#x-option value="WI"}}Wisconsin{{/x-option}}
	{{#x-option value="WY"}}Wyoming{{/x-option}}
{{/x-select}}
<button class="btn btn-primary" {{action 'stateSearch'}}>Submit</button>
