<form>
  <div class="form-group">
    <label for="word">See who says a word the most!</label>
    {{input value=word id="word" class="form-control"}}
  </div>
  <button {{action 'search'}} class="btn btn-primary">Go!</button>
</form>
