<h1>House Info</h1>

<a href="/recentHouseBills" class="btn btn-primary">Recent Bills</a>
<a href="/upcoming-house-bills" class="btn btn-success">Upcoming Bills</a>
<hr>
<h2>Committees:</h2>
<hr>
{{#each (concat-committee-array model.page1 model.page2 model.page3 model.page4 model.page5 model.page6) as |committee|}}
  {{#if (isNotSubcommittee committee)}}
    {{committee-tile committee=committee committees=(concat-committee-array model.page1 model.page2 model.page3 model.page4 model.page5 model.page6)}}
  {{/if}}
{{/each}}
<br>
<a href="/">Back</a>
